#demo
    padding: 100px 0
    .minibox
        border: 1px solid red
        width: 200px
        height: 100px
        display: flex
        justify-content: center
        background-color: #6c2f30
        padding-top: 5px
        color: #ffff
        &:hover
            background-color: #3e2424
            border: 5px solid #783c3c
