#hello
    .minibox
        border: 1px solid #ca8216
        width: 200px
        height: 200px
        border-radius: 100px
        background-color: #cc8400
        transition: 1s
        position: 
        &:hover
            border-radius: 50px
    @media screen (max )
            
